.neos-backend:not(.neos-full-screen) .top-navigation-wrap  {
	top: 82px;

}

.neos-edit-preview-panel-open:not(.neos-full-screen) .top-navigation-wrap {
	top: 192px;

}

.neos-navigate-panel-open:not(.neos-full-screen) .top-navigation-wrap {
	left: 320px;
}

.neos-inspector-panel-open:not(.neos-full-screen) .top-navigation-wrap {
	right: 320px;
}

.container-fluid {
	padding-right: 335px;
}

.neos-inspector-panel-open:not(.neos-full-screen) .container-fluid {
	padding-right: 655px;
}

.neos-full-screen .container-fluid {
	padding-right: 15px;
}